.birthday-card {
    width: 90vw;
    height: 80vh;
    background-color:  #ff516bde;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 150px auto;
    text-align: center;
    
    
  }
  
  .card-content {
    color: #ffffff;
    font-family: cursive;
    
  }
  
  .card-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: cursive;
  }
  
  .card-content p {
    font-size: 24px;
    line-height: 1.5;
    font-family: cursive;
  }
  