.countdown-card {
    margin-top: 50px;
    height: 30vh;
    margin-left: 600px;
  }
  
  .card {
    width: 800px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 38px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 36px;
    margin-bottom: 0;
    font-family: cursive;
    color: rgb(0, 162, 162);
  }
  