.home-page {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    top: 0;
  }
  .backgrounds{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color:  #ffffffb3;
   
    z-index: 5;
  }
  /* .birthday-card {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 20;
    width: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  } */
  .scrollable {
    margin:auto;
    margin-top: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
    height: 80vh; /* adjust as needed */
    
  }
  
  .vid {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex: 0 0 auto;
    margin-right: 10px; /* adjust spacing between videos */
    
  }
  
  .vid video {
    border-radius: 4px;
    width: 700px;
    height: 55vh;
  }

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 10px; /* adjust spacing between videos */
  
}

.img img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 700px;
  height: 85vh;
  object-fit: contain;
}


.post {
  width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.post-image {
  width: 100%;
  display: block;
}

.footer {
  padding: 12px;
}

.likes {
  font-weight: bold;
  margin-bottom: 8px;
}

.caption {
  margin-bottom: 12px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 5px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 500px;
  margin: 0px auto;
  margin-bottom: 0px;
}

.topbar h2 {
  font-size: 34px;
  color: #000000;
  font-family: cursive;
  font-weight: 400;
  margin-bottom: 10px;
}

.stories {
  display: flex;
  overflow-x: auto;
  padding: 10px 5px;
  background-color: #ffffff;
}

.story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.story-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.story-username {
  font-size: 14px;
  color: #000000;
}
.mobile{
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
}
